.hide-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 255px;
    z-index: 9999;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 0;
}

.show-sidebar {
    width: 328px;
    position: fixed;
    z-index: 1028;
    border-radius: 6px 6px 0 0;
    transition: .600s;
    height: 100vh;
    overflow-y: scroll;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 66px;
    left: 16px;
}